<div class="mt-4">
  <h3></h3>
  <form method="POST" action="/courses/update/{{course._id}}?_method=PUT">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter name"
        value="{{course.name}}"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        name="description"
        placeholder="Enter description"
        value="{{course.description}}"
      />
    </div>
    <div class="form-group">
      <label for="video-id">Image</label>
      <input
        type="text"
        class="form-control"
        name="image"
        placeholder="Enter image"
        value="{{course.image}}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>