<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">F8 Online Course</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="flex-column nav">
      <li class="nav-item">
        <a class="nav-link" href="/courses/create">Tao khoa hoc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/me/store/courses">Khoa hoc cua toi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tin tuc cua toi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dang xuat</a>
      </li>
    </ul>
  </div>

</nav>